<section>
  @if(fact$(); as fact) {
    <p class="fact">{{ fact }}</p>
  } @else {
    <p>Click the button to load a fun fact.</p>
  }
</section>
<button class="fact-button" type="button" (click)="getFact()">Get New Fact</button>
<section>
  @for(currentFact of currentFacts; track currentFact) {
    <article class="previous-container">
      <p class="previous-fact">{{ currentFact }}</p>
      <button type="button" (click)="addToFavorites(currentFact)">Add to favorites</button>
    </article>

  }
</section>
