@if(popularFacts$ | async; as facts) {
  <section>
    <article class="popular-facts">
        <span class="factoid title">Facts</span>
        <span class="vote-count title">Votes</span>
        <span class="vote-icon-container title">Your Vote</span>
      @for(fact of facts; track fact;) {
        <span class="factoid">{{ fact.factoid }}</span>
        <span class="vote-count">{{ fact.votes }}</span>
        <button type="button" class="vote-button up-vote" (click)="voteOnFact(fact, 1)"><span class="material-symbols-outlined">
          thumb_up
          </span></button>
        <button type="button" class="vote-button down-vote" (click)="voteOnFact(fact, -1)"><span class="material-symbols-outlined">
          thumb_down
          </span></button>
      }
    </article>
  </section>
}

